@media (max-width: 768px) {
  .wa-form .wa-field .wa-value { margin-left: 0px; clear: left }
  .wa-form .wa-field .wa-value input[type="text"],
  .wa-form .wa-field .wa-value input[type="email"],
  .wa-form .wa-field .wa-value input[type="password"],
  .wa-form .wa-value select {
    min-width: 95%
  }
  
  /* RESPONSIVE NAVBAR (mobile) */

  .navbar.navbar-inverse ul.dropdown-menu li a {
    border-bottom: 1px solid #333;
  }
  .dropdown > a:after {
    right: 10px;
  }

  .search {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .footer ul {
    margin-bottom: 20px;
  }

  .fixfixed .wrapper-toolbar { 
    position: absolute; 
  }
  .user-toolbar ul>li>a .fa {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
	.modal-sm {
		width: 380px;
	}
	.container-sm-height {
	    display:table;
	    padding-left:0px;
	    padding-right:0px;
	}
	.row-sm-height {
	    display:table-row;
	}
	.col-sm-height {
	    display:table-cell;
	    float:none;
	}
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: -1px;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }
}
@media (min-width: 480px) {
  .navbar-default .navbar-nav > li > a {
    padding-right: 20px;
  }
}
@media (max-width: 480px) {
  .navbar-default .navbar-nav > li a {
    border-bottom: solid 1px #eee;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 9px 15px;
  }
    .navbar-nav .open .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        margin-top: 0;
        position: static;
        box-shadow: none;
        background-color: transparent;
    }
    .dropdown-submenu > .dropdown-menu {
      display: block;
      margin-left: 15px;
    }
    .navbar-collapse.collapse.in {
      display: block !important;
      overflow-y: auto !important;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }

    /*.footer .logo-social { padding-left: 70px }*/
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}