.animate-100
    $transition(all 100ms linear)

.animate-200
    $transition(all 200ms linear)

.animate-300
    $transition(all 300ms linear)

.animate-400
    $transition(all 400ms linear)

.animate-500
    $transition(all 500ms linear)

.animate-600
    $transition(all 600ms linear)

.animate-700
    $transition(all 700ms linear)

.animate-800
    $transition(all 800ms linear)

.animate-900
    $transition(all 900ms linear)

.animate-1000
    $transition(all 1000ms linear)