/*
 * Webasyst "Mobile" Theme
 *
 * Core CSS file
 *
 * @link http://www.webasyst.com/
 * @author Webasyst LLC
 * @copyright 2015 Webasyst LLC
 * @package Webasyst
 */

// Stylus variables
@import "variables.styl";

/* RESET STYLES */
@import "reset.styl";
/* END RESET STYLES */

/* ANIMATION STYLES (TRANSITION) */
@import "animate.styl"
/* END ANIMATION STYLES (TRANSITION) */

/* MAIN LAYOUT STYLES */
@import "layout.styl";
/* END MAIN LAYOUT STYLES */

/* BUTTONS STYLES */
@import "buttons.styl";
/* END BUTTONS STYLES */

/* SITE APP LAYOUT STYLES */
@import "site.styl";
/* END SITE APP LAYOUT STYLES */

/* PROFILE STYLES */
@import "profile.styl";
/* END PROFILE STYLES */

/* MENU STYLES (LEFT CONTROL MENU) */
@import "menu.styl";
/* END MENU STYLES (LEFT CONTROL MENU) */

/* HEADER STYLES */
@import "header.styl";
/* END HEADER STYLES */

/* HEADER STYLES */
@import "nav.styl";
/* END HEADER STYLES */