.signup-page-wrapper
.forgot_pass-page-wrapper
.login-page-wrapper
    padding: 0 0 1em;

    .wa-form
        margin: 1em 0 0

        .wa-field
            margin: 1em 0 0
            font: normal 1em/1.5em $font-family
            text-align center

            &:first-child
                margin-top: 0;

            .wa-name
                text-align left
                display none

            .wa-value
                input[type="submit"]
                    margin-bottom 1rem

.wa-auth-adapters
    list-style none

    li
        display inline-block
        vertical-align top

        margin: 0
        padding: 0;

        a
            display block

            margin: 0 0.25em 0.25em 0;
            padding: 0.5em;

            border: 1px solid rgba(0,0,0,0.1)

            $border-radius(3px)

            font-size: 0.9em

            color $color-black
            text-decoration none

            background: #fcd630;
            background: #fcd630 -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.0) 100%);
            background: #fcd630 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.0)));
            background: #fcd630 -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
            background: #fcd630 -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
            background: #fcd630 -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
            background: #fcd630 linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);

            img
                vertical-align middle
                margin: 0 0.2rem 0 0;

.profile-page-wrapper
    padding: 0 0 0.5em;

    .text-success
        margin: 1em 0
        color $color-green

    .wa-auth-adapters
        margin: 1em 0 0;

    #wa-my-info-edit-wrapper
        .wa-name
            display none

    .wa-form
        margin: 1em 0 0

        .wa-field
            display table
            padding: 0.5em 0
            width 100%
            box-sizing border-box

            border: solid #f0f0f0;
            border-width 0 0 1px;

            font: normal 1em/1.5em $font-family

            &:first-child
                border-width 1px 0;

            #change-pass-link + p
                margin-top: 0;

                .field
                    display block
                    padding: 0.5em 0 0

                    &:first-child
                        padding-top: 0;

                    span
                        display none;

            .wa-name
                display table-cell
                vertical-align middle
                width: 40%;
                color: #999

            .wa-value
                display table-cell
                vertical-align middle

                .hint
                    display none

                #wa-my-info-cancel
                #change-pass-link
                #delete-photo-link
                    display inline-block
                    vertical-align top
                    margin: 0;
                    padding: 0.5em 1em
                    width 100%
                    box-sizing border-box

                    font: normal 1em/1.5em $font-family;
                    text-transform capitalize
                    text-decoration none
                    text-align: center;
                    color: $color-black;
                    text-shadow: 0 1px 0px rgba(255,255,255,0.5);
                    white-space: nowrap;

                    border: 1px solid rgba(0,0,0,0.3);
                    border-top-color: rgba(0,0,0,0.2)
                    $border-radius(5px)

                    $box-shadow(0 1px 1px rgba(0, 0, 0, 0.1))
                    $appearance(none)
                    $user-select(none)

                    background: #fcd630;
                    background: #fcd630 -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.0) 100%);
                    background: #fcd630 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0.0)));
                    background: #fcd630 -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
                    background: #fcd630 -o-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
                    background: #fcd630 -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);
                    background: #fcd630 linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.0) 100%);