.site-wrapper
    margin: 0;
    padding: 3.5em 0 0 0
    box-sizing: border-box
    width: 100%;
    overflow: hidden
    /*height: 100%*/
    /*overflow auto*/
    /*overflow-x hidden*/
    /*-webkit-overflow-scrolling: touch;*/

.sub-links
    .text-info
        color: $color-link

.wa-site-wrapper
    padding: 0.5em

    .wa-site-content
        $default-block()
        margin: 0;
        word-wrap break-word

        p
            overflow hidden

        img
            max-width: 100% !important
            height: auto !important

.error-page-wrapper
    padding: 2em 0;
    text-align center

    .error-header
        font-size: 1.5em

    .error-code
        margin: 0 0 0.5em;

        font: bold 3em/1.5em $font-family;

    .error-message
        font-size: 0.9em;
        
.wa-error-msg
    color: red
    
.wa-welcome 
    text-align: center
    padding-bottom: 0.5em
    
    .wa-smiley
        display: block
        background: url('img/smiley.png') no-repeat
        background-size: 256px 256px
        width: 256px
        height: 256px
        margin: 0 auto 0.5em