// FONT
$font-family = "Helvetica Neue", "Roboto Condensed", "Roboto", Arial, sans-serif

// COLOR
$color-white = #fff;
$color-black = #121212;
$color-gray = #999;
$color-green = #468847;
$color-link = #3a87ad;
$star-color = #f7c854;

//$color-warning = #c09853;
//$color-error = #b94a48;

// CSS3
$border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

$box-shadow(n)
    -webkit-box-shadow: n;
    box-shadow: n;

$text-shadow(n)
    -webkit-text-shadow: n;
    text-shadow: n;

$appearance(n)
    -webkit-appearance: n;
    appearance: n;

$filter(n)
    -webkit-filter: n;
    filter: n;

$transform(n)
    -webkit-transform: n;
    transform: n;

$user-select(n)
    -webkit-user-select: n;
    -moz-user-select: n;
    -ms-user-select: n;
    user-select: n;

$transition(n)
    -webkit-transition: n;
    -moz-transition: n;
    -ms-transition: n;
    -o-transition: n;
    transition: n;

$default-block()
    margin: 0.5em 0 0
    padding: 0.5em
    background #fff
    border: 1px solid rgba(0,0,0,0.1)