<script>
var point_template = "{$point_template}";
{foreach $point_fields as $field}
    point_template = point_template.replace(/%{$field}%/g, '');
{/foreach}
</script>
{literal}
<style>
    .points_block{
        padding: 0px 0 10px 20px;
    }
    table.zebra .point a{
        display: inline-block;
    }
    .point{
        margin: 0;
    }

    .points{
        border: 1px solid #999;
    }

    table.points td{
        vertical-align: top;
    }

    table.zebra a.inline{
        margin-left: 20px;
    }
    .field .value .point textarea{
        min-width: 200px;
    }
    .field .value .point input{
        min-width: 130px;
        width: 130px!important;
    }
</style>
<script>
    $( document ).ready(function() {
        $(".add_point").click(function(){
            var container = $(this).parents(".points_block");
            var code = container.data('code');
            var point_id = container.data('points')+1;
            var html = point_template;

            html = html.replace(/%id%/g, point_id);
            html = html.replace(/%code%/g, code);

            container.find('.points').append(html);
            container.data('points', point_id);
            return false;
        });
        $(".points_block").each(function(){
            var c = $(this).find(".point").length;
            var that = $(this);
            $(this).hide();
            var link = $("<a href='#' class='inline'></a>");
            link.text("Пунктов самовывоза: "+c);
            link.click(function(){that.show(); $(this).hide(); return false});
            $(this).before(link);
        });
        $(".delete_point").live('click', function(){
            var point = $(this).parents(".point");
            point.remove();
            return false;
        });
    });
</script>
{/literal}