<!DOCTYPE html>
<html>
    <head>
        <title>Печать бланка Ф.107</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body>
    
     <div class="container">
        <div class="page-header">
        	<h1>Корректировка печатаемых данных: бланк Ф107</h1>
        	<p class="lead">Откорректируйте печатаемые данные и распечатайте бланк.</p>
        </div>
        {if $limits->plan_name eq "БЕСПЛ"}
        <div class="alert alert-danger"> <strong>Ваша лицензия по использованию нашего плагина неактивна!</strong> Необходимо <a href="https://api.digi-post.ru/invoice" target="_blank">оплатить</a> лицензию на api.digi-post.ru. Мы установили вам лимит печатаемых бланков на сегодня: <b>{$limits->blanks_limit}</b> шт. Вы уже напечатали <strong>{$limits->blanks_printed}</strong>  шт.</div>
        {else}
        <div class="alert alert-success"> Спасибо за оплату лицензии нашего плагина. Количество печатаемых в день бланков неограничено.</div>
        {/if}
        {if isset($order.params["digipost.F107"])}
        	<div class="alert alert-info">Вы уже печатали этот бланк ранее. <a style="display:inline;" target="_blank" href="{$order.params["digipost.F107"]}">Скачайте этот бланк.</a></div>
    	{/if}
        
<form class="form-horizontal" role="form" method="post" action="?module=order&action=printform&form_id=shipping.107&order_id={$order.id}&type=print">
{$wa->csrf()}
<input type="hidden" name="blank_type" value="F107">
<input type="hidden" name="key" value="{if !empty($settings.digipost_api_key)} {$settings.digipost_api_key|escape}{/if}">
<!-- from -->
<input type="hidden" name="from_name" value="{if !empty($settings.from_name)} {$settings.from_name|escape}{/if}">
<input type="hidden" name="from_address_1" value="{if !empty($settings.from_address_1)} {$settings.from_address_1|escape}{/if}">
<input type="hidden" name="from_address_2" value="{if !empty($settings.from_address_2)} {$settings.from_address_2|escape}{/if}">
<input type="hidden" name="from_zip" value="{if !empty($settings.from_zip)} {$settings.from_zip|escape}{/if}">
<!-- from end -->

<fieldset>
  <legend>Данные получателя</legend>
  <div class="form-group">
    <label for="to_name" class="col-sm-2 control-label">ФИО получателя</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="to_name" id="to_name" placeholder="Петров Василий Иванович" value="{$order.contact.lastname} {$order.contact.firstname}">
    </div>
  </div>
  <div class="form-group">
    <label for="to_address_1" class="col-sm-2 control-label">Адрес получателя, строка 1</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" name="to_address_1" id="to_address_1" placeholder="Россия, Ростовская обл., Ростов-на-Дону" value="{if !empty($order.shipping_address.country_name)}{$order.shipping_address.country_name|escape},{/if} {if !empty($order.shipping_address.region_name) and $order.shipping_address.region_name!=$order.shipping_address.city}{$order.shipping_address.region_name|escape}, {/if}{if !empty($order.shipping_address.city)}{$order.shipping_address.city|escape},{/if} {if !empty($order.shipping_address.region_name)}{$order.shipping_address.region_name|escape}{/if}">
    </div>
  </div>
  <div class="form-group">
    <label for="to_address_2" class="col-sm-2 control-label">Адрес получателя, строка 2</label>
    <div class="col-sm-5">
      <input type="text" name="to_address_2" class="form-control" id="to_address_2" placeholder="ул.Семашко д24к1" value="{if !empty($order.shipping_address.street)}{$order.shipping_address.street|escape}{/if}">
    </div>
  </div>
  <div class="form-group">
    <label for="to_zip" class="col-sm-2 control-label">Индекс получателя</label>
    <div class="col-sm-2">
      <input type="text" name="to_zip" class="form-control" id="to_zip" placeholder="346000" value="{if !empty($order.shipping_address.zip)}{$order.shipping_address.zip|escape}{/if}">
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Деньги</legend>
  <div class="form-group">
    <label for="order_amount" class="col-sm-2 control-label">Сумма оценки</label>
    <div class="col-sm-2">
      <input type="text" name="order_amount" class="form-control" id="order_amount" placeholder="346.00" value="{number_format($order.total, 2, '.', '')}">
    </div>
  </div>
</fieldset>

<fieldset id="subject">
	<legend>Список предметов</legend>
	<table class="table table-striped">
		<thead>
			<tr>
				<td>№</td>
				<td>Наименование предмета</td>
				<td>Кол-во предметов</td>
				<td>Объявленная ценность<br>(руб.)</td>
			</tr>
		</thead>
		<tbody>
		{$total.elements = 0}
		{$total.summ = 0}
		{foreach $order.items as $key => $item}
		{$i = $key+1}
		{$total.elements = $total.elements+$item.quantity}
		{$total.summ = $total.summ+$item.total}
		<tr>
			<td><b>{$i}</b></td>
			<td><input placeholder="предмет" type="text" name="products[{$key}][title]" value="{$item.name}" maxlength="20"></td>
			<td><input placeholder="число" type="text" name="products[{$key}][quantity]" value="{$item.quantity}"></td>
			<td><input placeholder="122" type="text" name="products[{$key}][full_total_price]" value="{$item.total}"></td>
		</tr>
		{/foreach}

		<tr class="success">
			<td colspan="2" class="text-right">Общий итог предметов и объявленной ценности</td>
			<td id="total_count">
				<span>{$total.elements}</span>
			</td>
			<td id="total_price" >
				<span>{$total.summ}</span>
				</td>

		</tr></tbody>				
	</table>
</fieldset>

<br>
  <div class="form-group">
    <div class="well" style="max-width: 400px; margin: 0 auto 10px;">
      <button type="submit" class="btn btn-success btn-lg btn-block">Печатать бланк</button>
    </div>
  </div>
<div class="alert alert-info">Шаблон отправителя можно отредактировать в настройках плагина. Для печати бланков данные вашего заказа передаются на сервис <a target="_blank" href="http://digi-post.ru">digi-post.ru</a></div>

</form>
     </div> <!-- container -->

</body>
</html>
